<header class="header">
  <h2>🍳 RecipeBox</h2>

  <nav class="nav">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    @if (authService.currentUser()){
      <a routerLink="/recipe-user" routerLinkActive="active">Le mie Ricette</a>
      <a routerLink="/recipe-form" routerLinkActive="active">Nuova Ricetta</a>
    }
  </nav>

  <div class="search">
    <input type="text" placeholder="Cerca ricetta..." [ngModel]="recipeService.searchValue()"
           (ngModelChange)="recipeService.setSearchValue($event)" />
  </div>

  <div class="user-info">
    @if (authService.currentUser(); as user) {
      <span class="welcome-text">Benvenuto, <strong>{{ user.username }}</strong>!</span>
      <button (click)="authService.logout()" class="login">Logout</button>
    } @else {
      <a class="login" routerLink="/login">Accedi</a>
    }
  </div>
</header>
