.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background: #ff6b35;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
  margin-bottom: 30px;
}

.nav a {
  min-width: 90px;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.16);
  color: #ffffff;
}

.nav a.active {
  background: #ffffff;
  color: #ff6b35;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}

.search input {
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

@media (max-width:690px) {
  .header {
    flex-direction: column;
    gap: 35px;
  }
}