<header class="header">

    <div class="logo">
        🍳 RecipeBox
    </div>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
       <a routerLink="/recipe-form">Nuova Ricetta</a>
    </nav>

    <div class="search">
        <input type="text" placeholder="Cerca ricetta..."
               [ngModel]="recipeService.searchValue()"
               (ngModelChange)="recipeService.setSearchValue($event)"
        />
    </div>

</header>
