@if (recipe(); as recipie) {
<div class="recipe-detail">
  <h2>{{ recipie.nome }}</h2>
  <img [src]="recipie.immagine" [alt]="recipie.nome" class="recipe-detail-image" />

  <p><strong>Tempo:</strong> {{ recipie.tempoPreparazione }} min</p>
  <p [ngClass]="{
                  'facile': recipie.difficolta === 'Facile',
                  'medio': recipie.difficolta === 'Media',
                  'difficile': recipie.difficolta === 'Difficile'
                }"><strong>Difficoltà:</strong> {{ recipie.difficolta }}</p>
  <p><strong>Ingredienti:</strong> {{ recipie.ingredienti }}</p>
  <p><strong>Descrizione:</strong> {{ recipie.descrizione }}</p>
  <p><strong>Preparazione:</strong> {{ recipie.preparazione }}</p>
</div>
} @else {
<p>Ricetta non trovata.</p>
}
